.notifications {
    margin: 27.5px 0;
}

.notifications-list-popup {
    position: relative;
    right: 300px;
    width: 350px;
    height: 300px;

    -webkit-animation-name: popup-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: popup-animation;
    animation-duration: 500ms;
}

@-webkit-keyframes popup-animation {
    from { height: 0; }
    to { height: 300px; }
}

@keyframes popup-animation {
    from { height: 0; }
    to { height: 300px; }
}

.notifications-list {
    background-color: #fff;
    color: #000;
    overflow: auto;
    height: 100%;
    border: 1px solid #C4C5C9;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(213,214,218,1);
    -moz-box-shadow: 0px 4px 10px 2px rgba(213,214,218,1);
    box-shadow: 0px 4px 10px 2px rgba(213,214,218,1);
}

.notifications-list::-webkit-scrollbar {
    background: #CCF6ED;
    border-radius: 4px;
    height: 8px;
    width: 8px;
}
  
.notifications-list::-webkit-scrollbar-thumb {
    background: #6a98ee;
    border-radius: 4px;
}

.notifications-icon {
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 5px;
}

.bell-icon {
    color: #999999;
    font-size: 25px;
}

.notifications-count {
    background-color: #E54C2D;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    top: 16px;
    line-height: 28px;
}

.font-13 {
    font-size: 13px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #6a98ee;
    position: relative;
    left: 309px;
}

.notifications-list-title {
    padding: 15px 20px;
    color: #fff;
    height: 20px;
    text-transform: uppercase;
    background-color: #6a98ee;
}

.animated-notification-enter {
    opacity: 0.01;
}
  
.animated-notification-enter.animated-notification-enter-active {
    opacity: 1;
    background-color: lightgreen;
    transition: opacity 1s ease-in;
}
  
.animated-notification-exit {
    opacity: 1;
    background-color: #E54C2D;
}
  
.animated-notification-exit.animated-notification-exit-active {
    opacity: 0.01;
    transition: opacity 1s ease-in;
}