.app-header {
  background-color: #000;
  height: 100px;
  display: grid;
  grid-template-columns: auto 100px;
  color: white;
}

.app-title {
  text-align: center;
  margin: 31px 0;
  font-weight: bold;
  font-size: 2rem;
}

.page-content {
  display: grid;
  background-color: #EFF3F6;
  height: 100vh;
}