.app-header {
  background-color: #000;
  height: 100px;
  width: 100%;
  color: white;
  display: table;
  overflow: visible
}

.app-title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;
}

.page-content {
  display: grid;
  background-color: #EFF3F6;
  height: 100vh;
}

@media only screen and (min-width: 461px)  and (max-width: 780px) {
  .app-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 460px) {
  .app-title {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 359px) {
  .app-title {
    font-size: 1rem;
  }
}