.app-header {
  background-color: #3B5998;
  min-height: 100px;
  display: grid;
  grid-template-columns: auto 100px;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: space-evenly;
}

.app-title {
  text-align: center;
}